<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/testicono2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/testicono2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiUtn"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activitys.VistaMarkdown"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_vista_markdown"
            android:theme="@style/Theme.MiUtn.Fullscreen" />
        <activity
            android:name=".activitys.Login"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.MiUtn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>